In [85]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [86]:
df = pd.read_csv('outputs/structured_data.csv', index_col=0)

In [87]:
df.head()

,setor,matricula,cargo,funcao,salario,mes
0.0,PRESIDÊNCIA,40446,VEREADOR,VEREADOR,11534.82,1
1.0,GABINETE DA PRESIDÊNCIA,24547,CHEFE DE GABINETE DA PRESIDÊNCIA,CHEFE DE GABINETE DA PRESIDÊNCIA,17944.99,1
2.0,GABINETE DA PRESIDÊNCIA,27638,CHEFE DE CERIMONIAL,CHEFE DE CERIMONIAL,16058.65,1
3.0,GABINETE DA PRESIDÊNCIA,23180,ASSISTENTE LEGISLATIVO I,NaN,-316.66,1
4.0,GABINETE DA PRESIDÊNCIA,23636,ASSISTENTE LEGISLATIVO III,NaN,5868.13,1

In [88]:
df.setor.value_counts()

GUARDA CIVIL METROPOLITANA                                                                   997
SGA-31 - EQUIPE DE GARAGEM E FROTA                                                           421
SGA-1 - SECRETARIA DE RECURSOS HUMANOS                                                       407
GABINETE DA PRESIDÊNCIA                                                                      331
SGA-33 - EQUIPE DE ZELADORIA                                                                 299
SGP-41 - EQUIPE DE TAQUIGRAFIA E REVISÃO                                                     283
SGA-35 - EQUIPE DE GESTÃO DE SERVIÇOS II - COPA E LIMPEZA                                    279
40º GABINETE DE VEREADOR                                                                     267
54º GABINETE DE VEREADOR                                                                     263
47º GABINETE DE VEREADOR                                                                     261
35º GABINETE DE VEREADOR                                                                     260
SGA-34 - EQUIPE DE GESTÃO E SERVIÇOS I - PORTARIA, TELEFONIA E ELEVADORES                    258
48º GABINETE DE VEREADOR                                                                     254
27º GABINETE DE VEREADOR                                                                     252
43º GABINETE DE VEREADOR                                                                     251
39º GABINETE DE VEREADOR                                                                     251
02º GABINETE DE VEREADOR                                                                     250
55º GABINETE DE VEREADOR                                                                     249
53º GABINETE DE VEREADOR                                                                     245
03º GABINETE DE VEREADOR                                                                     245
04º GABINETE DE VEREADOR                                                                     244
46º GABINETE DE VEREADOR                                                                     244
17º GABINETE DE VEREADOR                                                                     243
22º GABINETE DE VEREADOR                                                                     243
09º GABINETE DE VEREADOR                                                                     243
49º GABINETE DE VEREADOR                                                                     242
07º GABINETE DE VEREADOR                                                                     242
34º GABINETE DE VEREADOR                                                                     241
12º GABINETE DE VEREADOR                                                                     240
44º GABINETE DE VEREADOR                                                                     239
                                                                                            ...
SGA-31 - EQUIPE DE GARAGEM E FROTA (02º GV) - ALFREDO ALVES CAVALCANTE                         2
SGA-31 - EQUIPE DE GARAGEM E FROTA (41º GV) - RICARDO LUIS REIS NUNES                          2
SGA-31 - EQUIPE DE GARAGEM E FROTA (38º GV) - RODRIGO HAYASHI GOULART                          2
SGA-31 - EQUIPE DE GARAGEM E FROTA (17º GV) - JAIR JOSE TATTO                                  2
SGA-31 - EQUIPE DE GARAGEM E FROTA (22º GV) - GILBERTO NASCIMENTO SILVA JUNIOR                 2
SGA-31 - EQUIPE DE GARAGEM E FROTA (32º GV) - EDIR SALES                                       2
SGA-31 - EQUIPE DE GARAGEM E FROTA (14º GV) - ATILIO FRANCISCO DA SILVA                        2
SGA-31 - EQUIPE DE GARAGEM E FROTA (27º GV) - JULIANA CARDOSO                                  2
SGA-31 - EQUIPE DE GARAGEM E FROTA (29º GV) - GILSON ALMEIDA BARRETO                           2
SGA-31 - EQUIPE DE GARAGEM E FROTA (08º GV)                                                    2
SGA-31 - EQUIPE DE GARAGEM E FROTA (24º GV) - MASATAKA OTA                                     2
SGA-31 - EQUIPE DE GARAGEM E FROTA (06º GV) - MILTON FERREIRA DA SILVA                         2
SGA-31 - EQUIPE DE GARAGEM E FROTA (51º GV) - ANIBAL DE FREITAS FILHO                          2
SGA-31 - EQUIPE DE GARAGEM E FROTA (42º GV) - AURELIO NOMURA                                   2
SGA-31 - EQUIPE DE GARAGEM E FROTA (04º GV) - ALESSANDRO GUEDES DOS SANTOS                     2
SGA-31 - EQUIPE DE GARAGEM E FROTA (54º GV) - JOSE ARIVALDO RODRIGUES                          1
SGA-31 - EQUIPE DE GARAGEM E FROTA (35º GV) - RINALDI CESAR DIGILIO                            1
SGA-31 - EQUIPE DE GARAGEM E FROTA (01º GV) - ADRIANA ALVES RAMALHO SANTANA                    1
SGA-31 - EQUIPE DE GARAGEM E FROTA (25º GV)                                                    1
GABINETE DA LIDERANÇA DE REPRESENTAÇÃO PARTIDÁRIA DA REDE SUSTENTABILIDADE                     1
SGA-31 - EQUIPE DE GARAGEM E FROTA (53º GV) - ELISEU GABRIEL DE PIERI                          1
SGA-31 - EQUIPE DE GARAGEM E FROTA (10º GV) - CLAUDIO GOMES FONSECA                            1
SGA-31 - EQUIPE DE GARAGEM E FROTA (13º GV) - EDUARDO MATARAZZO SUPLICY                        1
SGA-31 - EQUIPE DE GARAGEM E FROTA (26º GV)                                                    1
SGA-31 - EQUIPE DE GARAGEM E FROTA (25º GV) - DANIEL ANNENBERG                                 1
SGA-31 - EQUIPE DE GARAGEM E FROTA (50º GV) - ANTONIO DONATO MADORMO                           1
SGA-31 - EQUIPE DE GARAGEM E FROTA (53º GV)                                                    1
SGA-31 - EQUIPE DE GARAGEM E FROTA (51º GV) - JOSE REGINALDO NAZELLO DE ALVARENGA TRIPOLI      1
SGA-31 - EQUIPE DE GARAGEM E FROTA (34º GV)                                                    1
SGA-31 - EQUIPE DE GARAGEM E FROTA (40º GV) - CAMILO CRISTOFARO MARTINS JUNIOR                 1
Name: setor, Length: 233, dtype: int64

In [89]:
print(df.matricula.nunique())
print(df.matricula.count())

2880
24929

In [90]:
df.matricula.count()

24929

In [91]:
df.cargo.value_counts()

ASSISTENTE PARLAMENTAR                                                             5768
TÉCNICO ADMINISTRATIVO                                                             2494
COMISSIONADO                                                                       2113
ASSESSOR ESPECIAL PARLAMENTAR                                                      1299
GUARDA CIVIL METROPOLITANO                                                          997
ASSISTENTE LEGISLATIVO III                                                          904
COORDENADOR ESPECIAL LEGISLATIVO                                                    804
VEREADOR                                                                            745
ASSESSOR DE GABINETE                                                                711
ASSESSOR ESPECIAL LEGISLATIVO                                                       675
CHEFE DE GABINETE                                                                   667
ASSESSOR ESPECIAL DE APOIO PARLAMENTAR                                              652
ASSESSOR DE APOIO PARLAMENTAR                                                       529
ASSESSOR ESPECIAL DE GABINETE                                                       511
PROCURADOR LEGISLATIVO                                                              447
COORDENADOR ESPECIAL DE GABINETE                                                    427
ASSESSOR  PARLAMENTAR                                                               397
MOTORISTA                                                                           278
CONSULTOR TÉCNICO LEGISLATIVO - INFORMÁTICA                                         264
CONSULTOR TÉCNICO LEGISLATIVO - CONTADOR                                            260
POLICIAL MILITAR                                                                    234
COORDENADOR DE LIDERANÇA                                                            223
TÉCNICO ADMINISTRATIVO - INFORMÁTICA                                                168
AUXILIAR OPERACIONAL                                                                156
CONSULTOR TÉCNICO LEGISLATIVO - BIBLIOTECONOMIA                                     144
CONSULTOR TÉCNICO LEGISLATIVO - ECONOMIA                                            132
CONSULTOR TÉCNICO LEGISLATIVO - REGISTRO E REVISÃO                                  131
GARÇOM                                                                              125
TÉCNICO ADMINISTRATIVO - ELETRÔNICA                                                 108
TÉCNICO ADMINISTRATIVO - CONTABILIDADE                                              107
                                                                                   ...
ENGRAXATE*                                                                           12
CONSULTOR TÉCNICO LEGISLATIVO - ENGENHARIA MECATRÔNICA                               12
CHEFE DE GABINETE DA PRESIDÊNCIA                                                     12
PEDREIRO                                                                             12
ENCANADOR                                                                            12
AUXILIAR DE ENFERMAGEM                                                               12
CLASSIFICADOR DE PERIÓDICOS*                                                         12
ASSESSOR DE IMPRENSA DA PRESIDÊNCIA                                                  12
TÉCNICO DE AR CONDICIONADO                                                           12
CONSULTOR TÉCNICO LEGISLATIVO - MEDICINA (CLÍNICA GERAL E MEDICINA DO TRABALHO)      12
MECÂNICO DE REFRIGERAÇÃO                                                             12
CHEFE DE CERIMONIAL                                                                  12
OUVIDOR ADJUNTO                                                                      12
CONSULTOR TÉCNICO LEGISLATIVO - MEDICINA (GINECOLOGIA E OBSTETRÍCIA)                 12
TÉCNICO EM RADIOFONIA                                                                12
OPERADOR DE MÁQUINA COPIADORA                                                        12
ENFERMEIRA                                                                           12
ASSESSOR CONTABIL                                                                    12
GARAGISTA                                                                            12
SUBENCARREGADO DE SETOR (GARAGEM)                                                    12
cargo                                                                                11
OPERADOR DE COMPUTADOR                                                               10
SUBDIRETOR DE COMUNICAÇÃO EXTERNA                                                    10
DIRETOR EXECUTIVO - TV CÂMARA SÃO PAULO                                              10
MÉDICO CHEFE DE SUBDIVISÃO                                                            9
DIRETOR PRESIDENTE                                                                    9
ASSESSOR DE COMUNICAÇÃO EXTERNA II                                                    7
DIRETOR ACADÊMICO                                                                     7
MÉDICO                                                                                2
CONSULTOR TÉCNICO LEGISLATIVO - PEDAGOGIA                                             1
Name: cargo, Length: 119, dtype: int64

In [92]:
# plt.hist(df.salario)
# plt.show()

In [93]:
df.mes.value_counts()

1      2398
12     2108
6      2061
2      2051
3      2051
9      2042
8      2042
10     2040
7      2038
5      2034
11     2032
4      2025
mes      11
Name: mes, dtype: int64

In [94]:
df.dtypes

setor        object
matricula    object
cargo        object
funcao       object
salario      object
mes          object
dtype: object

In [95]:
df.funcao.value_counts()

-                                          1800
VEREADOR                                    745
CHEFE DE GABINETE                           667
SUPERVISOR DE EQUIPE                        588
COORDENADOR DE LIDERANÇA                    223
SUPERVISOR DE UNIDADE ADMINISTRATIVA        169
ASSISTENTE DE IMPRENSA                      150
SECRETÁRIO                                   88
VEREADOR - SUPLENTE                          70
PROCURADOR LEGISLATIVO SUPERVISOR            60
SUPERVISOR DE NÚCLEO TÉCNICO                 36
AUXILIAR DE OUVIDORIA                        26
COORDENADOR DE CENTRO                        24
OUVIDOR                                      13
SECRETÁRIO PARLAMENTAR ADJUNTO               12
CHEFE DE CERIMONIAL                          12
SECRETÁRIO GERAL PARLAMENTAR                 12
SECRETÁRIO GERAL ADMINISTRATIVO              12
CHEFE DE GABINETE DA PRESIDÊNCIA             12
CONSULTOR GERAL DE ECONOMIA E ORÇAMENTO      12
COORDENADOR                                  12
OUVIDOR ADJUNTO                              12
PROCURADOR LEGISLATIVO CHEFE                 12
DIRETOR ACADÊMICO                            12
SECRETÁRIO ADMINISTRATIVO ADJUNTO            11
funcao                                       11
DIRETOR EXECUTIVO                             9
DIRETOR PRESIDENTE                            9
COORDENADOR DA ESCOLA DO PARLAMENTO           1
Name: funcao, dtype: int64

In [96]:
df[df.mes == 'mes']

     setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes
NaN  setor  matricula  cargo  funcao  salario  mes

In [97]:
df[df.mes == 'mes'].index

Float64Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan], dtype='float64')

In [98]:
df.drop(df[df.mes == 'mes'].index, inplace=True)

In [99]:
df[df.mes == 'mes'].index

Float64Index([], dtype='float64')

In [100]:
df.describe()

,setor,matricula,cargo,funcao,salario,mes
count,24922,24918,24837,4809,24922,24922
unique,232,2879,118,28,10215,12
top,GUARDA CIVIL METROPOLITANA,ausência de divulgação em razão de determinaçã...,ASSISTENTE PARLAMENTAR,-,7235.87,1
freq,997,77,5768,1800,411,2398

In [108]:
df.matricula.fillna('0', inplace=True)

assert not df.matricula.isna().any()

In [115]:
print(df[df['matricula'].str.isnumeric()].count())

print(df[~df['matricula'].str.isnumeric()].count())

setor        23610
matricula    23610
cargo        23606
funcao        4691
salario      23610
mes          23610
dtype: int64
setor        1312
matricula    1312
cargo        1231
funcao        118
salario      1312
mes          1312
dtype: int64

In [74]:
# mask[mask.isna()]
df[mask.isna()]

,setor,matricula,cargo,funcao,salario,mes
311.0,06º GABINETE DE VEREADOR,0,ASSISTENTE PARLAMENTAR,NaN,0.0,1
1106.0,53º GABINETE DE VEREADOR,0,CHEFE DE GABINETE,CHEFE DE GABINETE,5823.37,7
1108.0,53º GABINETE DE VEREADOR,0,ASSESSOR ESPECIAL PARLAMENTAR,NaN,2802.95,7
308.0,08º GABINETE DE VEREADOR,0,ASSESSOR ESPECIAL LEGISLATIVO,NaN,2.92,10

In [30]:
df[df['salario'].isna()]

Empty DataFrame
Columns: [setor, matricula, cargo, funcao, salario, mes]
Index: []

In [32]:
df[df['mes'].isna()]

Empty DataFrame
Columns: [setor, matricula, cargo, funcao, salario, mes]
Index: []

In [33]:
df.mes.value_counts()

1     2398
12    2108
6     2061
2     2051
3     2051
9     2042
8     2042
10    2040
7     2038
5     2034
11    2032
4     2025
Name: mes, dtype: int64

In [47]:
df.loc[df.funcao == '-', 'funcao'] = np.nan

In [48]:
df[df['funcao'] == '-']

Empty DataFrame
Columns: [setor, matricula, cargo, funcao, salario, mes]
Index: []